{% load i18n %}
{% extends "html/page.html" %}

{% block title %}{% trans %}Project Management{% endtrans %}{% endblock %}

{% block content %}

<table>
    <tr>
        <td class="module-sidebar">
		{{ logo_block_container() }}
		<div>
            <a href="{% url project-list %}" class="sidebar-link {% block index_page %}{% endblock %}">{% trans %}All Tasks{% endtrans %}</a>
            <a href="{% url task-owned %}" class="sidebar-link {% if sidebar_link == 'owned' %}sidebar-link-active{% endif %}">{% trans %}Called by me{% endtrans %}</a>
            <a href="{% url task-assigned %}" class="sidebar-link {% if sidebar_link == 'assigned' %}sidebar-link-active{% endif %}">{% trans %}Assigned to me{% endtrans %}</a>
            <a href="{% url task-in-progress %}" class="sidebar-link {% if sidebar_link == 'in_progress' %}sidebar-link-active{% endif %}">{% trans %}Tasks in progress{% endtrans %}</a>
            <span class="sidebar-header">{% trans %}Projects{% endtrans %}</span>
            {% for iproject in projects %}
                {% if not iproject.parent %}
                    <a href="{% url project-detail iproject.id %}" class="sidebar-link {% if iproject == project %}sidebar-link-active{% endif %}">{{ iproject }}</a>
                {% endif %}
            {% endfor %}
            {% block project_task_statuses %}
                {% if statuses %}
                    <span class="sidebar-header">{% trans %}By status{% endtrans %}</span>
                    {% for status in statuses %}
                        <a href="{% url task-status status.id %}" class="sidebar-link">{{ status }}</a>
                    {% endfor %}
                {% endif %}
            {% endblock %}

            {% if request.user.profile.is_admin('anaf.projects') %}
                <span class="sidebar-header">{% trans %}Administration{% endtrans %}</span>
                <a href="{% url projects_settings_view %}" class="sidebar-link {% block class_admin_settings %}{% endblock %}">{% trans %}Settings{% endtrans %}</a>
            {% endif %}
		</div>
        </td>
        <td class="module-content">
            <div class="module-content-fill">
                <div class="title-block">
                    <div class="title">
                        {% block module_title %}{% trans %}Projects{% endtrans %}{% endblock %}
                    </div>
                    <div class="subtitle-block">
                        {% block module_subtitle %}{% endblock %}
                    </div>
                    <div class="module-top-menu-inline">
                        {% block module_topmenu %}
                            <a href="{% url project-new %}" class="top-menu popup-link {% block project_add_class %}add-link{% endblock %}">{% trans %}New Project{% endtrans %}</a>
                            <a href="{% url milestone-new %}" class="top-menu {% block milestone_add_class %}add-link{% endblock %}">{% trans %}New Milestone{% endtrans %}</a>
                            <a href="{% url task-new %}" class="top-menu {% block task_add_class %}add-link{% endblock %}">{% trans %}New Task{% endtrans %}</a>
                            <a href="{% url core_trash %}" class="top-menu trash-link {% if trash %}trash-full-link{% endif %}">{% trans %}Trash{% endtrans %}</a>
                        {% endblock %}
                    </div>
                    {{ help_link() }}
                </div>
                <table>
                    <tr>
                        <td class="module-content-inner">
                            <!-- module_content_inner -->
                            {% block module_content %}{% endblock %}
                            <!-- /module_content_inner -->
                        </td>
                        <td class="module-sidebar-right">
                            {% block sidebar_right %}{% endblock %}
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<div class="clear">
</div>
{% endblock %}
